Library/PlayerDataCache/Android/Data/sharedassets0.assets
Library/il2cpp_android_arm64-v8a/il2cpp_cache/linkresult_0EAE67458D20F23A05FD8D76E80EB4D3/libil2cpp.so
Library/il2cpp_android_x86/il2cpp_cache/linkresult_DFEC38877847178231B9138F4732D91D/libil2cpp.so
Library/PlayerDataCache/Android/Data/sharedassets0.assets
